@media only screen and (min-width: 60em) {
     :root {
        --color1: #907F47;
        --color2: #CAB775;
        --color3: #F1CABB;
        --color4: #F3F3F3;
    }
    nav a {
        font-size: 2rem;
    }
    .logoImg {
        margin: -1rem 6rem 0 7em;
    }
    .navImg {
        margin: 0;
        max-width: 100%;
    }
    .grid {
        grid-template-rows: repeat(4, 200px);
    }
    .aboutUs {
        margin: 1rem;
        font-size: 1.25rem;
    }
    .btn {
        margin-left: 15rem;
    }
    .business img {
        max-width: 75%;
    }
    .weather {
        font-size: 1.75rem;
    }
    .town-events {
        font-size: 1.5rem
    }
    .gridMesa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .card1 {
        grid-column: 1;
        grid-row: 1;
    }
    .card2 {
        grid-column: 2;
        grid-row: 1;
    }
    .card3 {
        grid-column: 3;
        grid-row: 1;
    }
    form label.sbs {
        padding: .4rem 0;
    }
    .gridContact {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 200px 1fr;
    }
    .board1 {
        grid-column: 1;
        grid-row: 1;
    }
    .board2 {
        grid-column: 2;
        grid-row: 1;
    }
    .board3 {
        grid-column: 3;
        grid-row: 1;
    }
    .board4 {
        grid-column: 4;
        grid-row: 1;
    }
    .board5 {
        grid-column: 5;
        grid-row: 1;
    }
    .board6 {
        grid-column: 6;
        grid-row: 1;
    }
    .contact {
        grid-column: 1/4;
        grid-row: 2;
    }
    iframe {
        grid-column: 4/-1;
        grid-row: 2;
        margin-left: 6rem;
    }
    #businessCards.gridD {
        grid-template-columns: 1fr 1fr 1fr;
    }
}