@media only screen and (min-width: 37.5em) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        margin-left: 20px;
    }
    nav ul {
        display: flex;
        grid-template-columns: repeat(5, 1fr);
    }
    nav a {
        font-size: 1rem;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .logo_img {
        max-width: 50%;
    }
    .title {
        margin-bottom: -4em;
    }
    .heroImg {
        max-width: 90%;
        margin: 10px auto;
        position: relative;
    }
    .weatherSummary {
        border: .1em solid #022B3A;
        position: absolute;
        top: 22em;
        left: 8em;
        padding: 1.5em;
        background: radial-gradient(#FFFFFF, #BFDBF7);
        opacity: .8;
        box-shadow: 0 0 30px #111;
    }
    main article {}
    .hikingIMG {
        float: right;
        max-width: 30%;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 1fr;
    }
    .map {
        grid-column: 1;
        grid-row: 1;
        margin: 0 3em 0 3em;
    }
    .contactInfo {
        grid-column: 2;
        grid-row: 1;
        margin: 0 3em 0 3em;
    }
    .date {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}