@media only screen and (min-width: 37.5em) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        margin-left: 20px;
    }
    nav ul {
        display: flex;
        grid-template-columns: repeat(5, 1fr);
    }
    nav a {
        font-size: 1rem;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .hero {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .heroimg {
        max-width: 100%;
        margin: 0 auto;
    }
    .weatherSummary {
        position: absolute;
        top: 30em;
        left: 8em;
        box-shadow: 0 0 30px #1F7A8C;
    }
    .fiveDayForcast {
        display: block;
        margin: 0 auto;
    }
    .center {
        text-align: center;
    }
    .temp {
        text-align: center;
    }
    .hikingIMG {
        float: right;
        max-width: 30%;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 1fr;
    }
    .map {
        grid-column: 1;
        grid-row: 1;
        margin: 0 3em 0 3em;
    }
    .contactInfo {
        grid-column: 2;
        grid-row: 1;
        margin: 0 3em 0 3em;
    }
    .date {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}