body {
    font-size: 16px;
    font-family: 'Scope One', serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #E1E5F2;
    padding: 10px;
}

footer {
    background-color: #E1E5F2;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1em solid #022B3A;
}

header,
nav,
main,
footer {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #022B3A;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #1F7A8C;
    color: #fff;
}

.active {
    background-color: #1F7A8C;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navigation a:hover {
    color: #1F7A8C;
    background-color: #022B3A;
}

.responsive li {
    display: block;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Trocchi', serif;
}

h2 {
    color: #1F7A8C;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.logo_img {
    max-width: 60%;
    grid-column: 1;
    margin: 1em 0 0 .3em;
}

.title {
    grid-column: 2;
    margin-left: -2em;
}

.motto {
    grid-column: 2;
    margin-top: -.5em;
}

.title {
    text-align: center;
}

main {
    font-size: 0.8rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #1F7A8C;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #1F7A8C;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #022B3A;
    font-size: .8rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #E1E5F2;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #1F7A8C;
    color: white;
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

#ratingvalue {
    margin: 0 30px;
    color: #1F7A8C;
}

.social {
    border-radius: 10%;
    max-width: 30px;
    margin: 0 5px 0 5px;
}

.map img {
    margin: .5em auto;
    max-width: 100%;
}